/* Define CSS Variables */
:root {
  --main-bg-color: linear-gradient(
    to right,
    rgb(134, 239, 172),
    rgb(59, 130, 246),
    rgb(147, 51, 234)
  );
  --title-color: white;
  --paragraph-color: grey;
  --link-color: blue;
  --entry-background: rgba(71, 85, 105, 0.5);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;

  background-image: var(--main-bg-color);
  color: var(--title-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

#newToDo {
  display: flex;
  background-color: transparent;
  border: transparent;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

#entry {
  background-color: var(--entry-background);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  flex-direction: column;
  margin: 20px;
}

li {
  display: flex;
  flex-direction: column;
  list-style: none;
}
